@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
  --clr-orange: #f8b817;
}

body {
  margin: 0;
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* a {
  font-size: 14px;
} */

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px solid grey;

}

.nav__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: clamp(1.35em, 4vw, 1.5em);
  font-weight: 800;
}

.nav__connect {
  width: 150px;
  height: 35px;
  margin: 0 auto 8px auto;

  background-color: var(--clr-orange);
  color: var(--clr-white);

  border: none;
  border-radius: 30px;

  font-family: "Play";
  font-size: 1em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 420px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 0 25px;

 
}

form input[type="text"] {
  width: 300px;
  height: 50px;
  margin: 5px 10px 0px 0px;
  padding: 10px;

  border: none;
  border-bottom: 1px solid var(--clr-blue);
  /* border-radius: 4px; */

  /* font-size: 1.10em; */
 
}

form input[type="submit"] {
  background-color:  var(--clr-orange);
  color: var(--clr-white);

  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  
  border-radius: 24px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 400;

  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--clr-blue-2);
}

form input[type="submit"]:disabled {
  background-color: grey;
}

form input[type="checkbox"]  {
 
  width: 25px;
  height: 25px;

}

select {
  padding: 14px;
  border-radius: 4px;
  border: 1px solid var(--clr-blue);
  width: 100%;
  margin: 0px 10px 0px 0px;


}

.check {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
 
}


.activeButton {
  background-color: var(--clr-blue);
  color: white;
}

.inactiveButton {
  background-color: white;
}





button {
  width: 100px;
  height: 40px;
  margin: 5px 5px;
  padding: 5px;
  /* color: white; */
  background-color: white;
  border: 1px solid var(--clr-blue);
  border-radius: 25px;

  /* font-size: 1.10em; */
}

.checked {
  background-color: var(--clr-blue);
}

.unchecked {
  background-color: white;
}


button:hover {
  background-color: var(--clr-blue);
  color: white;
  transition: all 250ms ease;
}

.button1 {
  background-color: var(--clr-blue);
  color: #fff;
}
.button2 {
  background-color: var(--clr-blue);
  color: #fff;
}
.button3 {
  background-color: var(--clr-blue);
  color: #fff;
}
.button4 {
  background-color: var(--clr-blue);
  color: #fff;
}
.btn {
  background-color: var(--clr-blue);
  color: #fff;
}

/* ------------------------------------------------------ */
/* -- IMAGE -- */

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 90%;
  width: 350px;
  height: 350px;
  margin: 0 25px;
  border: 3px solid var(--clr-blue);
  border-radius: 4px;

  overflow: hidden;
}

.image img {
  width: 350px;
  height: 350px;
  border-radius: 6px;
 
}

.thumbnails {
  border-top: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px solid grey;
  
}

.thumbnail {
  /* border: 1px solid grey; */
  /* display: flex;
  flex-direction: column; */
  text-align: center;

}



.thumbnail img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  margin: 10px 10px 0px 10px;
}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}

.tabs {
  padding-top: 10px;
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  /* margin-top: 15px; */
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}